{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}任务集{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    {% block extra_js %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <!-- 导航栏 -->
    <header>
        <nav class="navbar">
            <div class="content-container">
                <a href="{% url 'home' %}" class="logo">我的任务集</a>
                <div class="nav-links">
                    <a href="{% url 'home' %}">首页</a>
                    <a href="{% url 'task_list' %}">任务</a>
                    <a href="{% url 'home' %}">项目</a>
                    <a href="{% url 'about' %}">关于我</a>
                </div>
                <div class="mobile-menu">
                    <button id="menu-toggle">☰</button>
                </div>
            </div>
        </nav>
        <div id="mobile-nav" class="mobile-nav">
                <a href="{% url 'home' %}">首页</a>
                <a href="{% url 'task_list' %}">任务</a>
                <a href="{% url 'home' %}">项目</a>
                <a href="{% url 'about' %}">关于我</a>
            </div>
    </header>

    <!-- 主要内容区域 -->
    <main class="content-container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- 页脚形状设计 -->
    <footer class="shape-footer">
        
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>
</html>